<a href="https://colab.research.google.com/github/ag12s/CreateWithCodeModules/blob/main/Introduction%20to%20Python/Day%201/CwC_LearnPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Let's learn about a Python package called **Pandas**!

To make sure we have it installed, first run a *pip* command:

In [ ]:
!pip install pandas

Then, we import the Pandas package (and NumPy, since we will use that, too):

In [ ]:
import pandas as pd
import numpy as np

We import Pandas with the nickname "*pd*" because we may have to type the package name frequently while using it. Typing *pd* is just shorter than typing *pandas* every time, so this is something most users do.

## What will we cover in this module?



*   Creating a DataFrame in Pandas
*   Manipulating DataFrames
*   Plotting data stored in DataFrames
*   Saving data to a file/reading data from a file

# **Pandas: DataFrames**

## Creating DataFrames

Let's create a **DataFrame**! To do that, we will first create arrays with some sample data about Marvel Cinematic Universe characters.

In [ ]:
# Create an array with the names of characters
data1 = np.array(['Spider-Man','Loki','Hulk','Black Widow','Thor','Nick Fury','Iron Man'])

# Create an array with the number of MCU movies each character appears in
data2 = np.array([6,6,8,8,8,10,11])

# Create an array with the year each character first appeared in a MCU movie
data3 = np.array([2016,2011,2003,2010,2011,2008,2008])

# Create an array with their planet of origin
data4 = np.array(['Earth','Jotunheim','Earth','Earth','Asgard','Earth','Earth'])

In [ ]:
# Combine the arrays into a DataFrame and assign category names
mcu_data = {'Name': data1, 'Movies': data2, 'Year': data3, 'Origin': data4}
df = pd.DataFrame(data = mcu_data)
df

Typing *df* uses Pandas' default print function. We can also write *print(df)*, but this will look different.

In [ ]:
print(df)

To **preview** our DataFrame without outputting the entire thing, we use the command *head()*. This is very useful when we have a large DataFrame!

In [ ]:
# Print the first 5 rows of the DataFrame
df.head()

## Exercise:

Print out the DataFrame df using:


1.   Panda's default printing
2.   Python's print function
3.   Just a preview of the DataFrame

In [ ]:
# Try out some commands to print the dataframe yourself here!

To refer to a specific **column** in the DataFrame, we type the DataFrame's variable name and the column name:

In [ ]:
df['Name']

In [ ]:
# There is a difference between single and double brackets!
df[['Origin']]

We can also reference **multiple columns** at once:

In [ ]:
df[['Name','Movies']]

If the column name is only one word, we can also do the following:

In [ ]:
df.Name

The above code returns a Series. If we would rather have a NumPy array, we can do:

In [ ]:
df.Name.values

## Exercise:

Reference DataFrame columns and save them in a new variable! Try:

1.   Saving multiple columns in a new DataFrame
2.   Saving one column into a NumPy array

In [ ]:
# Try referencing some of the columns here yourself! Watch out for capitalization; Python is case-sensitive.

To get all the column names, do *df.columns*. This also allows us to **set or change** the **column names**.

In [ ]:
df.columns

In [ ]:
# Example changing the column names
df.columns = ['First','second','3rd','fourth']
df.head()

In [ ]:
# Changing the names back to how they were
df.columns = ['Name','Movies','Year','Origin']
df.head()

And if we want to know the **data type** of each column, do:

In [ ]:
df.dtypes

## Manipulating DataFrames

We can get **statistics** from our DataFrame such as the average, minimum, and maximum:

In [ ]:
print('Average of numeric columns:\n', df.mean(), '\n')
print('Largest number of movies:', df['Movies'].max(), '\n')
print('Earliest year:', df['Year'].min(), '\n')

We can also **add data** to our DataFrame after it has already been created:

In [ ]:
# Create a new variable to hold the information we want to add
new_mcu = {'Name': 'Captain America', 'Movies': 11, 'Year': 2011, 'Origin': 'Earth'}

# Add the information to our DataFrame
df = df.append(new_mcu, ignore_index = True)

# Print the new DataFrame
df

And we can **delete** rows or columns of data:

In [ ]:
# Delete a row
df.drop(4)

In [ ]:
# Delete a column
df.drop('Origin', axis = 1)

## Exercise:

Try manipulating the DataFrame! Add a row for Heimdall:
Heimdall has appeared in 5 MCU movies, starting in 2011. He is from Asgard.

In [ ]:
# Try manipulating the DataFrame yourself here:

We can also **fill in missing data**! For example:

In [ ]:
# Adding incomplete data to the DataFrame
new_mcu = {'Name': 'Happy Hogan', 'Year': 2008, 'Origin': 'Earth'}

# Add the information to our DataFrame
df = df.append(new_mcu, ignore_index = True)

# Print the new DataFrame
df

In [ ]:
# Let's use fillna() to replace NaN values with the average (mean) of the other values in the column
movies_mean = df['Movies'].mean()

df.fillna(value = movies_mean)

Or, we can **delete rows** with **incomplete data**:

In [ ]:
df = df.dropna()

df

What if we want to get rid of **duplicate data**? Let's try an example!

In [ ]:
# Let's add a Loki duplicate:
new_mcu = {'Name': 'Loki', 'Movies': 6, 'Year': 2011, 'Origin': 'Jotunheim'}

# Add the information to our DataFrame
df = df.append(new_mcu, ignore_index = True)

df

In [ ]:
# Right now, we can check how many unique names we have using nunique():
df['Name'].nunique()

In [ ]:
# Now, let's drop the duplicate data (prune the variant?!)
df = df.drop_duplicates()

df

Dropping duplicates is a useful tool when, for example, you accidentally append a new row to your DataFrame twice. This way, you do not need to recreate the DataFrame or specify what row you want to drop (using *df.drop()*).

## Exercise:

Try adding and dropping duplicate information! Pick any row(s) you like, replicate it as many times as you would like, and then drop the duplicates.

In [ ]:
# Try adding and dropping some duplicate information yourself!

We can **filter** our DataFrame by specific values or attributes. For example, let's filter out all the characters from Earth:

In [ ]:
df.loc[df['Origin'] == 'Earth']

Or all character information with first movies after 2009:

In [ ]:
# Get all first movies more recent than 2009
df.loc[df['Year'] > 2009]

We can also do this without the loc function:

In [ ]:
df[df['Year'] > 2009]

There is also a function called *iloc* that does the same thing as *loc*, but using indices! We can use this to make the last exercise a bit easier:

In [ ]:
df.append(df.iloc[[0]])

To get the **number** of characters whose first movie was after 2009 rather than the list of them (shown in the last cell), get the *shape* of the output:

In [ ]:
df[df['Year'] > 2009].shape[0]

And we can have **multiple conditions**! Let's find entries for characters that have first movies before 2010 and no more than 8 movie appearances:

In [ ]:
df[( df.Year < 2010 ) & (df.Movies <= 8 )]

Maybe we want to **sort** the values somehow. Let's try sorting by year:

In [ ]:
df = df.sort_values(by = ['Year'])

df

Notice in the DataFrame above that the indices are now **out of order**. To fix this, we can **reset** the **index values**:

In [ ]:
df = df.reset_index(drop=True)

df

## Exercise:

Try to filter the DataFrame by characters that have been in at least 8 movies, then sort by their names. Lastly, reset the DataFrame indices so they are in order.

In [ ]:
# Try commands filtering and sorting the DataFrame here:

We can also **combine** DataFrames in a couple different ways. Below, let's try:

1.   **Concatenating** two DataFrames
2.   **Merging** two DataFrames

In [ ]:
# To concatenate DataFrames, we need to have at least two DataFrames. Let's make a second MCU DataFrame!

data1 = np.array(['Falcon','Winter Soldier','Pepper Potts'])
data2 = np.array([6,8,7])
data3 = np.array([2014,2011,2008])
data4 = np.array(['Earth','Earth','Earth'])

mcu_data = {'Name': data1, 'Movies': data2, 'Year': data3, 'Origin': data4}
df2 = pd.DataFrame(data = mcu_data)
df2

In [ ]:
# Now, we use concat() to combine the two DataFrames (df and df2)
df = pd.concat([df, df2]).reset_index()
df

In [ ]:
# What if we have new information to add to our DataFrame for existing characters? Let's make some sample information!

# Create an array with the names of characters
data1 = np.array(['Spider-Man','Loki','Hulk','Black Widow','Thor','Nick Fury','Iron Man','Falcon','Winter Soldier','Pepper Potts'])

# Create an array with whether the character has super strength
data2 = np.array([True,True,True,False,True,False,False,False,True,False])

mcu_data = {'Name': data1, 'Super Strength': data2}
df3 = pd.DataFrame(data = mcu_data)
df3

In [ ]:
# Use merge() to add the above data to the correct rows
df = pd.merge(df,df3,how = 'inner', on = 'Name')
df = df.drop(['index'],axis=1)
df

We can also **add a column** to the DataFrame by giving it a **name**!

In [ ]:
df['Cool Character'] = True

df

## Exercise:

Add a new column to the DataFrame! Create a column called 'Flight', and specify 'True' for characters that can fly, and 'False' for character that cannot.



*   Hulk: False
*   Nick Fury: False
*   Iron Man: True
*   Black Widow: False
*   Loki: False
*   Thor: True
*   Spider-Man: False
*   Falcon: True
*   Winter Soldier: False
*   Pepper Potts: True

In [ ]:
# Try adding some new information yourself!

We can also do **math** with data stored in columns! Let's find the number of years since each character's first movie:

In [ ]:
# The number of years since each character's first movie will be the current year minus the movie year
df['Years Since First Movie'] = 2021 - df['Year']
df

In [ ]:
# We can also do math between two or more columns. Let's try finding the average number of movies per year for each character since their first movie until now:
df['Average Per Year'] = df['Movies'] / df['Years Since First Movie']
df

Lastly, let's go over how to **iterate** (or loop) through the rows in your DataFrame using iterrows():

In [ ]:
for index, row in df.iterrows():
  print (row['Name'], '-->', row['Origin'])

## Exercise:

Use a loop to print any column(s) of information you want! Feel free to include additional information or formatting.

In [ ]:
# Try using a loop here!

## Plotting with DataFrames

To **plot** the values in our DataFrame:

In [ ]:
df.plot(kind = 'scatter', x = 'Year', y = 'Movies', title = 'First Appearance vs. Total Number of Appearances', color = 'b')

If we want to **color-code** the plot by planet of origin, we can split our DataFrame into **groups**. However, this will mean plotting with **Matplotlib**'s PyPlot instead of Pandas, so we must import this package:

In [ ]:
import matplotlib.pyplot as plt

# Pandas combines parts of Matplotlib and NumPy, so using Matplotlib directly gives us some more options

In [ ]:
# Group the DataFrame by planet of origin
groups = df.groupby("Origin")

# Plot each group on the same figure
for name, group in groups:
      plt.plot(group['Year'], group['Movies'], marker="o", linestyle="", label = name, alpha = 0.5)

# Show the legend and axis titles
plt.legend()
plt.ylabel('Movies')
plt.xlabel('Year')

## Exercise:

Group the DataFrame contents by number of movies (Movies column) and use this to color-code a plot of Years Since First Movie (x axis) versus Average Per Year (y axis).

In [ ]:
# Try grouping and plotting something else yourself!

## Saving/Loading DataFrames

We can also use Pandas to **save our dataframe** to a CSV file, and **load it** back in from that later!

In [ ]:
# Write data to a CSV file
df.to_csv('mcu_data.csv', index = False)

In [ ]:
# Check what's in current directory
! ls

In [ ]:
# Read data from a CSV file
mcu_df = pd.read_csv('mcu_data.csv')

mcu_df

Lastly, know that there are a ton of Pandas functions you can use! Very few people know all of them or know how to use them off the top of their heads -- most people will need to look it up. I use Pandas frequently, and I am constantly looking up which function to use or certain ways to use it! To do this, I reference the documentation, found [here](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html).

The list on the left has every function you might need. If you are not clear on how to use a function to fit your needs, don't be afraid to look it up! Sometimes, you will have to get creative depending on the complexity of what you are working on. Chances are someone else has posted the solution you need!