<p style="text-align: center;"><font size="8"><b>Section 1.5: More Data Structures</b></font><br>

As we've discussed, Python Lists are ways to represent a collection of objects. *Data structure* is the generic term for such collections, of which Lists is an example. 

We will next look at different data structures, including the range object, tuples and dictionaries.

# The Range Class

Often we need a sequence of integers. Python has a built-in type called `range` to help construct such sequences. There are 3 different ways to construct one.  

In Python 2,`range` is a function that returns a `list`. In Python 3 `range` is its own type, however you can convert it to a `list` if you like by passing it as an argument to the `list` constructor.

`range(stop)` constructs a sequence of integers starting at 0 and going up to but not including the integer represented by stop

In [ ]:
range(5)

range(0, 5)

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

2 . `range(start, stop)` constructs a sequence of integers starting at "start" and going up to but not including "stop"

In [ ]:
range(5,8)

range(5, 8)

In [ ]:
list(range(5,8))

[5, 6, 7]

3 . `range(start, stop, step)` constructs a sequence of integers starting at "start" and advancing by "step" so long as it does not reach or pass "stop"

In [ ]:
range(5,10,2)

range(5, 10, 2)

In [ ]:
list(range(5,10,2))

[5, 7, 9]

Note that "step" can be negative

In [ ]:
list(range(10,5,-1))

[10, 9, 8, 7, 6]

## Exercise

Construct and print a range of integers from 3 to 98, in steps of 5.

# Tuples

Lists are a mutable collection of objects. A *tuple* is used to represent an immutable sequence of objects. Immutable objects can be stored more efficiently than mutable objects, however they are obviously more limited.

The primary purpose of a tuple is to encapsulate multiple pieces of information into a single object. For example, it is common to represent colors by  3 separate values that describe the intesity of red, blue and green. We could store all this information separately, but a better way is to store this information as a single tuple.

In [ ]:
skyBlue = tuple((136, 207, 236))
type(skyBlue)

tuple

As with lists, we can construct a tuple without using the tuple constructor.

In [ ]:
skyBlue = (136, 207, 236)

Tuples support all of the nonmutating behaviors of lists, with the exception of `count` and `index`, and they *do* support indexing.

## Exercise

Unpack the `skyBlue` tuple above. Store the first entry in a variable called `red`, the second in a variable called `green` and the third in a variable called `blue`.

Tuples can be concatenated with the "+" operator.

In [ ]:
tuple_1 = ("hello", "hi")
tuple_2 = (0, 255, 0)

print(tuple_1 + tuple_2)

('hello', 'hi', 0, 255, 0)

Tuples can also be converted to a list by passing them in to the `list` constructor.

In [ ]:
tuple_list = list(tuple_2)
print(tuple_list)

[0, 255, 0]

Lists can be converted to tuples using the `tuple` constructor.

In [ ]:
print(tuple(tuple_list))

(0, 255, 0)

## Exercise

Tuples are immutable. However by converting back and forth to lists we can remove objects from tuples. 

Write a code fragment that removes the number 7 from the tuple (16, 17, 9, 10, 7, 8).

# Dictionaries

As a final example of built-in data structures, we will look at *dictionaries*. Dictionaries represent a mapping from a set of objects known as *keys* to associated objects known as *values*. For example, we may want to store the latitude and longitude of a collection of cities.

- Auckland: (-36.52,174.45)
- Berlin: (52.30, 13.25)
- Cairo: (30.20, 31.21)
- Havanna: (23.80,-82.23)
- New York: (40.47, -73.58)

Dictionaries provide a convenient way to store this information. Here, the name of the city acts as the key and a tuple representing the latitude and longitude is the corresponding value.

As with lists and tuples, there are two ways to initialize a dictionary. The first is to use the standard constuctor syntax:

In [ ]:
latLong = dict()
type(latLong)

dict

This results in a new dictionary object that initially contains zero entries.

We can add key-value pairs to our dictionary using an assignement syntax.

In [ ]:
latLong["Auckland"] = (-36.52,174.45)
latLong["Berlin"] = (52.30, 13.25)
latLong["Cairo"] = (30.20, 31.21)
latLong["Havanna"] = (23.80,-82.23)
latLong["New York"] = (40.47,-73.58)

print(latLong)

{'Auckland': (-36.52, 174.45), 'Havanna': (23.8, -82.23), 'Cairo': (30.2, 31.21), 'New York': (40.47, -73.58), 'Berlin': (52.3, 13.25)}

Once we've added items to the dictionary, we can retrieve them:

In [ ]:
latLong["Havanna"]

(23.8, -82.23)

If we ask for a key that is not in the dictionary we get an error.

In [ ]:
latLong["Tallahassee"]

KeyError: 'Tallahassee'

Another way to initialize and populate a dictionary is through the literal form. The literal form uses curly braces, in contrast to the square braces [ ... ] used by lists or the round braces ( ... ) used by tuples.

In [ ]:
latLong = {"Auckland":(-36.52,174.45),"Havanna":(23.8,-82.23),"Berlin":(52.3,13.25),\
               "New York":(40.47,-73.58),"Cairo":(30.2,31.21)}
print(latLong)

{'Auckland': (-36.52, 174.45), 'Havanna': (23.8, -82.23), 'New York': (40.47, -73.58), 'Cairo': (30.2, 31.21), 'Berlin': (52.3, 13.25)}

## Keys and Values

The keys in a dictionary must be unique. If we attempt to add a duplicate key, it updates the value already stored for that key.

In [ ]:
latLong["New York"] = (23.7,-82.23)
print(latLong)

{'Auckland': (-36.52, 174.45), 'Havanna': (23.8, -82.23), 'New York': (23.7, -82.23), 'Cairo': (30.2, 31.21), 'Berlin': (52.3, 13.25)}

Keys must also be immutable, for example ints, strings or tuples would make accpetable keys, but lists would not.

In [ ]:
latLong[["Havanna","New York"]] = (23.7, -52.4)

TypeError: unhashable type: 'list'

Values on the other hand can be of any type (mutable or immutable) and can be repeated as often as you like.

## Summary

![dictionary methods](https://github.com/lukasbystricky/ISC-3313/blob/master/lectures/chapter2/images/dictionary.png?raw=true)

## Exercise

Create a dictionary with the following keys:
- "Florida"
- "Georgia"
- "Texas"
- "New York"

Assign to each key a list of at least two cities in the corresponding state.