<p style="text-align: center;"><font size="8"><b>Section 1.4: Numeric Data</b></font><br>

# Numeric Types

We already covered 3 different primative types for storing numbers:
1. `int`
2. `float`
3. `complex`

Each of these types differ in terms of the range of numbers it can represent and how they are stored.

To create very large or very small floating point numbers we can use `e` character to indicate scientific notation. For example:

    2e15
is equivalent to $2\times 10^{15}$. Note that even though $2\times 10^{15}$ is actually an integer, Python stores it as a float.

In [1]:
a = 2e15
type(a)

float

This is the case no matter what exponent you use.

In [2]:
a = 1e0
type(a)

float

Some numbers (in fact almost all numbers) cannot be stored with perfect precision in digital form. 

For example $\sqrt{2}$ and $\pi$ are both *irrational numbers* that requires an infinite amount of digits to represent exactly.  Instead of doing this we store irrational numbers as  a decimal number with a finite number of digits. 

This is a standard encoding known as *floating-point* representation used in almost every programming language. 
*   Typically this is around 16 digits of accuracy.

This is an important concept to understand, and can sometimes lead to unexpected behavior, even for numbers which should be perfectly represented with 16 digits.

In [3]:
a = 0.1
b = 0.2
print(a + b)

0.30000000000000004

In [ ]:
print(a + b - 0.3)

5.551115123125783e-17

This is an example of *floating point error*. In scientific computing it is important to remember that no numbers are ever represented perfectly and small errors like this can occur. If you are not careful this can lead to serious problems down the road.

## Numeric Operators

We've already seen some numeric operators. For example, as you have probably assumed, you can add two numbers with "+", subtract one number from another with "-" and multiply two numbers with "\*".  

When adding an `int` to another `int` the result is an `int`. Then adding a `float` to a `float` or an `int`, the result is a `float`. The same applies to subtraction or multiplication.

In [4]:
a = 5
b = 6.0
type(a + a)

int

In [5]:
type(a + b)

float

Division depends on what version of Python you are using. In Python 3, it is always true division, meaning it's probably exactly as you'd expect (we are using Python 3).

In [6]:
a = 5
b = 4
a/b

1.25

To do powers of numbers, Python employs the syntax "\*\*".

In [7]:
2**4

16

In [8]:
8**0.5 #square root of 8

2.8284271247461903

Python also supports the *modulus* operator (mod for short) with the symbol "%". This returns the remainder of the division.

In [9]:
a = 5
b = 3
a%b

2

## Exercise

The periodic table gives the weight (in grams) per mole of an element. 

![periodic table](https://github.com/lukasbystricky/ISC-3313/blob/master/lectures/chapter2/images/periodic_table.png?raw=true)

For example a mole of Oxygen has a mass of 16.00 g. 

## Let's try it! 

Write a code fragment that determines the mass of 8 moles of Calcium.

The mass of a compound can be determined in the same way. Consider the compound $H_2 O$ (water). A mole of water contains 2 moles of Hydrogen and one mole of Oxygen. To compute the weight we simply add the weight of two moles of Hydrogen and one mole of Oxygen.

In [ ]:
mass_h = 1.01
mass_o = 16

mass_h2o = 2*mass_h + mass_o
print(mass_h2o)

18.02

Note that we could have done the equivalent calculation

    mass_h2o = 2*1.01 + 16
in one line. This is not a good programming practice however. Even though it is shorter it is less clear what your are doing. In general you should always avoid putting in "magic numbers" in your code, i.e. numbers that are not defined anywhere.

## Let's try it!

Write a code fragment that computes the mass of 4 moles of $C_{12} H_{22} O_{11}$.

Write a code fragment to determine how many grams of Oxygen are in 15 grams of $H_2 O$.

*Hint: Start by determining the number of moles of $H_2 O$ in 1 gram.*

# Type Conversions

Just like strings, numeric types are immutable. An expression such as x + y does not change the values of x or y.
However it is common to reassign an existing identifier to a new value using arithmetic operators

In [10]:
a = 5
a = a + 1
print(a)

6

Converting one type to another is called *casting*. For example

In [11]:
a = 4.9
print(int(a))

4

When casting a `float` to an `int` Python truncates the decimal part. To convert a `float` to the nearest integer, there is a function called `round`.

In [13]:
b = round(a)
print(b)
type(b)

5

int

Ints and floats can also be cast to and from strings.

In [14]:
a = "3.5"
b = float(a)
print(b)
type(b)

3.5

float

In [15]:
b = str(b)
print(b)
type(b)

3.5

str

# Boolean Expressions

A boolean is a value that is either `true` or `false`. Python has a built-in type, `bool`, for handling booleans. 

Several functions return booleans. For example the `in` function for lists.

In [ ]:
groceries = []
groceries.append("bread")

a = "bread" in groceries
a

True

In [ ]:
type(a)

bool

We can also generate booleans using the greater than or less than operators.

In [ ]:
a = 6
a > 5

True

In [ ]:
a <= 4

False

In [ ]:
len("bacon") > 3

True

To test for exact equality, we can use the `==` operator.

In [16]:
a = 3
a == 3

True

This operator should be avoided with floating point numbers however. Let's compute $\sqrt{2}$.

In [ ]:
a = 2**0.5 #square root of 2

We know that $\sqrt{2}^2 = 2$, right?

In [ ]:
print(a**2 == 2)

False

What happened here? 

Since we're dealing with floating point numbers, $\sqrt{2}$ is not represented exactly. We're only storing 16 digits of this irrational number. So when you square it, you're not getting exactly 2, but rather some number that is very close to 2.

In [ ]:
print(a**2)

2.0000000000000004

To test for equality in cases like this (any computation involving floating point numbers) it's necessary to see if the two numbers are "close enough", that is within some very small tolerance of each other.

In [ ]:
tol = 1e-15
print(abs(a**2 - 2) < tol)

True

Here we've set the tolerance to $1\times 10^{-15}$. We then check that $|a^2 - 2|$ is less than this tolerance.

## Exercise

We saw earlier how Python can struggle with seemingly simple floating point operations.

In [ ]:
a = 0.1
b = 0.2
print(a + b)

0.30000000000000004

Write a code fragment that tests that `a + b` is actually equal to 0.3 (to floating point precision).

There are three logical operators that can be used with booleans.

1) **`not`** - this returns the opposite of the boolean value

In [ ]:
not len("bacon") > 3

False

2) **`and`** - this operator takes two booleans and returns `true` if they are both true and `false` otherwise

In [ ]:
len("bacon") > 3 and 5 > 1

True

In [ ]:
len("bacon") > 3 and 1 > 5

False

3) **`or`** - this operator takes two booleans and returns `true` if at least one them is `true`

In [ ]:
len("bacon") > 3 or 1 > 5

True

Note that this is considered an *inclusive or*, meaning that if both booleans are `true` it returns `true`. Occasionally we may want an *exclusive or*, where we want to know if exactly one of the booleans is `true`. This can be acheived by using the syntax `x != y`.

In [ ]:
a = len("bacon") > 3 
b = 5 > 1 
a != b

False

Consider a compound boolean expression:

In [ ]:
x = 5
3 < x and x < 8

True

When the same value (in this case `x`) appears as an operand of the two booleans, these expression can be chained as follows.

In [ ]:
3 < x < 8

True

This is a convenient syntax and can often be easier to read.

Understanding the relationship between **not**, **and** and **or** is extremely important. Here they are summarized in a truth table:

![truth table](https://github.com/ag12s/CreateWithCodeModules/blob/main/images/truth_table.png?raw=true)

# Exercise

Write a code fragment that given two strings prints true if the length of each string is greater than 3.

In [ ]:
s1 = "Hello"
s2 = "Hi"

## Summary

![numeric operations](https://github.com/lukasbystricky/ISC-3313/blob/master/lectures/chapter2/images/numeric_operators1.png?raw=true)

![numeric operators](https://github.com/lukasbystricky/ISC-3313/blob/master/lectures/chapter2/images/numeric_operators2.png?raw=true)