<p style="text-align: center;"><font size="8"><b>Section 3.1: For Loops</b></font><br>

Now that we know some basic Python commands, we will turn to *control structures*. By default, statements are exectuted in the order in which they are given. Control structures let us specify a different order. 

Specifically we will look at two of the most common control structures. The first, a *for loop* lets us repeat a sequence of commands. The second, an *if statement* specifies a sequence of commands to be executed only if a condition is true. 

First, we will look at for loops.

#For Loops

Often we need to repeat a series of steps for each item of a sequence. Such a repetition is called an *iteration* and can be expressed using a control structure known as a for loop. 

A for loop always begins with the syntax

    for identifier in sequence:

This is followed by a block of code we call the *body* of the loop.

For example, given a list of names, we can print each name on its own line using a for loop.

In [ ]:
guests = ["Kirk", "Spock", "Bones", "Scotty", "Uhura", "Sulu", "Chekov"]
for person in guests:
    print("Hi", person)

Hi Kirk
Hi Spock
Hi Bones
Hi Scotty
Hi Uhura
Hi Sulu
Hi Chekov

Here `guests` is the sequence, and `person` is called the identifier or *loop variable*. A sequence can be any object that represents a sequence of elements, for example a list, an array, a range or a tuple. 

The body itself (in this case the command `print("Hi" person`) specifies the commands to be exectuted each iteration. The body must be indented, although the precise amount of indentation depends on the programmer. It is important to be consistent though, so I highly reccomend using the tab key.

In the loop above the actual flow of control is equivalent to the following series of statements.

In [ ]:
person = "Kirk"
print("Hi", person)
person = "Spock"
print("Hi", person)
person = "Bones"
print("Hi", person)
person = "Scotty"
print("Hi", person)
person = "Uhura"
print("Hi", person)
person = "Sulu"
print("Hi", person)
person = "Chekov"
print("Hi", person)

Hi Kirk
Hi Spock
Hi Bones
Hi Scotty
Hi Uhura
Hi Sulu
Hi Chekov

The advantage of the loop syntax is that it is much shorter, requires less typing and is easier to maintain.

To see how it is easier to maintain, consider the following example. What if, instead of "Hi" we wanted to print "Hello". Using a loop would require us to change one line of code.

In [ ]:
guests = ["Kirk", "Spock", "Bones", "Scotty", "Uhura", "Sulu", "Chekov"]
for person in guests:
    print("Hello", person)

Hello Kirk
Hello Spock
Hello Bones
Hello Scotty
Hello Uhura
Hello Sulu
Hello Chekov

Without loops we would have to change one line per person. This would be tedious if there were say 1000 people in the list.

##Try it out!
Modify the code to say \"Bye\" to each person. Instead of copying and pasting the code block above, type it out yourself so you get a feel for it.

## Whitespace

A few remarks about whitespace are in order. Until now, we haven't paid much attention to whitespace. For example:

In [ ]:
a = 1
a =        1

are equivalent expressions.

In [ ]:
a = 1
print(a)

In [ ]:
a =        1
print(a)

However if we tried to do:

In [ ]:
a = 1
    a = 1

IndentationError: unexpected indent (<ipython-input-14-a26f8c3f6e69>, line 2)

we get an error.

The only whitespace that matters in Python is the indentation (in other words the whitespace at the very left of the statements). Python looks at *blocks* of code. Lines that are part of the same block must have the same indentation level. 

A for loop (or any other control structure) is its own block. This means that all code inside a for loop must be at the same indentation level. 

    command outside for loop
    for something:
        command inside for loop
        command inside for loop
        command inside for loop
    command outside for loop

## Exercise

Given a list of cities write a for loop that prints out the following verse of Jump On It by Sir Mix-A-Lot:

"What's up Dallas, what's up (x2)

Dallas jump on it, jump on it, jump on it

What's up San Antonio, what's up (x2)

San Antonio jump on it, jump on it, jump on it

What's up Austin, what's up (x2)

Austin jump on it, jump on it, jump on it

What's up Houston, what's up (x2)

Houston jump on it, jump on it, jump on it"

In [ ]:
cities = ["Dallas", "San Antonio", "Austin", "Houston"]

Let's look at another example. Suppose we want to sum a list of numbers. One way to do this is to initialize a variable `total` to 0 and then loop through the list adding each number to the total.

In [ ]:
numbers = [1, 6, 8, 1, 5]

total = 0
for n in numbers:
    total = total + n
    
print(total)

21

This is the same as

In [1]:
total = 0 + 1 + 6 + 8 + 1 + 5
total

21

Instead of typing `total = total + n`, Python supports the equivalent shorthand notation `total += n`.

In [ ]:
numbers = [1, 6, 8, 1, 5]

total = 0
for n in numbers:
    total += n
    
print(total)

21

Python supports various similar shorthands, such as: -=, \*=, /=, %=.

## Exercise

To find the product of values in an array, we multiply each of the elements. Find the product of the numbers below.

In [ ]:
numbers = [1, 6, 8, 1, 5]

# for loop to compute the product

# Index Based Loops

The range object can be thought of as a list of integers. This can be very convenient for iteration. For example, the following code produces a countdown for a rocket launch.

In [ ]:
for count in range(10,0,-1):
    print(count)    
print("BLASTOFF")

10
9
8
7
6
5
4
3
2
1
BLASTOFF

Note that the `print("BLASTOFF")` command is in line with the for loop and is thus not part of its body.

We can also uses ranges to serve as a sequence of valid indices of a list. For example, let's say we wanted to number each guest. We could do that using the following code.

In [ ]:
for i in range(len(guests)):
    print(str(i+1)+".", guests[i])

1. Kirk
2. Spock
3. Bones
4. Scotty
5. Uhura
6. Sulu
7. Chekov

The range object is essentially a list starting at 0 and going up to but not including the length of the guest list. In our case it is the list [0,1,2,3,4,5,6]. Since we want our displayed numbers to start at 1 and go up to 7 we have to add 1 to i before we print it.

Index based looping is very useful for tasks that require an explicit knowledge of the position of an element within a list. Suppose we want to convert all the guest's names to lower case. The command `lower` produces a lower case version of a string.

In [ ]:
s = "YELLING"
s.lower()

'yelling'

It's important to remember that strings are immutable, so `s.lower()` does not change s itself. We can convert s to lower case by assigning `s.lower()` to s.

In [ ]:
s.lower()
print(s)
s = s.lower()
print(s)

YELLING
yelling

So let's try this:

In [ ]:
for person in guests:
    person = person.lower()
print(guests)

['Kirk', 'Spock', 'Bones', 'Scotty', 'Uhura', 'Sulu', 'Chekov']

This didn't work. Why not? 

It's because the loop variable `person` is not actually part of the list. What we are doing here would be akin to:

In [ ]:
person = guests[0]
person = person.lower()
print(person)
print(guests)

kirk
['Kirk', 'Spock', 'Bones', 'Scotty', 'Uhura', 'Sulu', 'Chekov']

We cannot mutate the original elements of the list, however we can mutate the list itself. We can replace each element of the list with a new value. This requires explicit knowledge of each element's index within the list.

Let's try instead:

In [ ]:
for i in range(len(guests)):
    guests[i] = guests[i].lower()
print(guests)

['kirk', 'spock', 'bones', 'scotty', 'uhura', 'sulu', 'chekov']

# Nested Loops

The body of a loop can contain several statements. It can even include other loops. This technique of using one control structure within the body of another is called *nesting*.

Consider a 2D NumPy array. Let's print each number in the array on its own line, along with its row and column.

In [ ]:
import numpy as np
A = np.array([[1.5,2.1],[3.1,3.8]])

for r in range(A.shape[0]):
    for c in range(A.shape[1]):
        print("row",r,"column",c,"is",A[r,c])

row 0 column 0 is 1.5
row 0 column 1 is 2.1
row 1 column 0 is 3.1
row 1 column 1 is 3.8

The loop over `r` is called the *outer loop*. The body of the outer loop contains an *inner loop* over `c` and inside its body we execute a print command.  

If we look at this code sequentially it is equivalent to:

In [ ]:
r = 0
c = 0
print("row",r,"column",c,"is",A[r,c])
c = 1
print("row",r,"column",c,"is",A[r,c])
r = 1
c = 0
print("row",r,"column",c,"is",A[r,c])
c = 1
print("row",r,"column",c,"is",A[r,c])

row 0 column 0 is 1.5
row 0 column 1 is 2.1
row 1 column 0 is 3.1
row 1 column 1 is 3.8

# List Comprehension

We saw earlier how to convert a guest list to lower case:

In [ ]:
guests = ["Kirk", "Spock", "Bones", "Scotty", "Uhura", "Sulu", "Chekov"]
for i in range(len(guests)):
    guests[i] = guests[i].lower()
print(guests)

['kirk', 'spock', 'bones', 'scotty', 'uhura', 'sulu', 'chekov']

Python supports a simpler syntax to do tasks called *list comprehension*.

An alternative way to convert all the names to lowercase would be to call:

In [ ]:
guests = ["Kirk", "Spock", "Bones", "Scotty", "Uhura", "Sulu", "Chekov"]
guests = [person.lower() for person in guests]
print(guests)

['kirk', 'spock', 'bones', 'scotty', 'uhura', 'sulu', 'chekov']

Using the form:

     result = [expression for identifier in sequence]
gives us a compact way to modify all the elements in a list.

Often times list comprehensions can be a little faster for a computer to complete than the `for` loop structure we first looked at. However, list comprehensions aren't always the best option for repeated sequences with a complex list of operations needed for each cycle of the sequence.

## Exercise

Using list comprehension, convert a list of integers into a list of strings.

In [ ]:
A = [5, 6, 8, 10]